@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

body {
    position: absolute;
    overflow: hidden; 
    left: 25%; 
    top: 35%;
    width: 70%;
    height: 60%; 
}

.interview {
    background: linear-gradient( to bottom, rgba( 0, 0, 0, 0.4 ), rgba(0, 0, 0, 0.4) );
    color: white; 
    font-family: 'pricedown', sans-serif;
    font-size: 20px;
    padding: 10px 24px; 
    margin: 8px 8px 8px 8px;
    cursor: pointer; 
    width: 200px; 
    display: block; 
	text-transform: uppercase;
}

.job {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 100%;
}

.interview:hover {
	background: linear-gradient( to bottom, rgba( 105, 105, 105, 0.4 ), rgba( 105, 105, 105, 0.4 ) );
}