body {
    position: absolute;
    overflow: hidden; 
    left: 25%; 
    top: 35%;
    width: 70%;
    height: 60%; 
}

@font-face {
    font-family: Montserrat;
    src: local('Montserrat'), url('https://cdn.discordapp.com/attachments/886714318471712798/896728379687067648/Montserrat.otf');
}

.interview {

    font-family: Montserrat;

    padding: .8vw;
    margin-bottom: 1vw;

    background-color: #101010;
    border-radius: 0.5vw;
    border: none;
    box-shadow: 0 0 .4vw #000;

    color: #fff;
    text-shadow: 0 0 .3vw #fff;
    text-transform: uppercase;

    animation: openNeonMenu 1s;

}

.job {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 100%;
}

.interview:hover {

    transition-duration: 2s;

    background-color: #505050;

    color: gold;

    text-shadow: 0 0 .3vw #000;

}


.interview:active {
    transition-duration: 2s;

    transform: scale(.8);
}

@keyframes openNeonMenu {
    from {opacity: 0; transform: scale(.5);}
    to {opacity: 1; transforms: scale(1);}
}
